<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blllf.blogease.mapper.UserMapper">


    <select id="findAllUsersByAdmin" resultType="com.blllf.blogease.pojo.User">
        select * from user
        <where>
            <if test="username != null and username != '' ">
                username like #{username}
            </if>
            <if test="email != null and email != '' ">
                and email like #{email}
            </if>
            <if test="nickname != null and nickname != '' ">
               and nickname like #{nickname}
            </if>
        </where>
    </select>

    <!--rank 查询-->
    <select id="findRank" parameterType="map" resultType="com.blllf.blogease.pojo.dto.CategoryArticleCount">
        SELECT u.id , u.username ,u.follower_count , u.user_pic ,SUM(ulc.number) AS total_count
        FROM article a
        INNER JOIN user u ON u.id = a.create_user
        INNER JOIN userlikecount ulc ON a.id = ulc.likedUserId
        WHERE a.deleted = 0
          AND a.create_time BETWEEN #{startTime} AND #{endTime}
        GROUP BY u.id ORDER BY total_count DESC
    </select>


    <select id="findUsersByIds" resultType="com.blllf.blogease.pojo.User">
        SELECT * FROM user
        <choose>
            <!-- 如果 list 不为空 -->
            <when test="list != null and list.size > 0">
                WHERE id IN
                <foreach collection="list" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <!-- 如果 list 为空 -->
            <otherwise>
                ORDER BY RAND() LIMIT 6
            </otherwise>
        </choose>
    </select>


</mapper>